.MainPage {
    display: flex;
    flex-direction: column;

    &__Content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__AvailableProducts {
        display: flex;
        gap: 8px;
        overflow: hidden;
        max-width: 90vw;
    }
}

.ProductCard {
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 16px 0px;
   align-items: center;
   justify-content: center;
   padding: 5px;

   &__Image {
    width: 100%;
   }
}